*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imagenes/fondo11.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 3px solid rgb(156, 135, 148);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(85, 69, 160, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;  
}  
.form-box{
    width: 100%;
    padding: 50px;
}
.form-box h2{
    font-size: 2em;
    color: rgb(221, 82, 82);;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
   border-bottom: 2px solid rgb(177, 97, 101);
   margin: 40px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(150, 117, 105);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -7px;
}
.icon{
    position: absolute;
    right: 10px;
    font-size: 1.8em;
    color: rgb(37, 26, 24);
    line-height: 60px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: rgb(226, 93, 53);
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: rgb(212, 101, 57);
    line-height: 50px;
}
.btn{
    width: 100%;
    height: 45px;
    background: rgb(211, 91, 131);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(236, 225, 200);
    font-weight: 500;
}
.btn:hover {
    background: rgb(221, 98, 150);
    color: rgb(134, 94, 92);
    border: rgb(241, 161, 161);
}
.login-register{
    font-size: 0.8em;
    color: rgb(31, 44, 197);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: rgb(10, 61, 66);
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;
}
.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(221, 98, 150);
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box.login{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0);
}
.contenedor.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.contenedor.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.contenedor.active-login{
    transform: scale(1);
}
footer {
    display:flex;
    justify-content: center;
    background-color: rgb(250, 102, 213);
    color: #fbfbfb;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}
